// Home Content

.home {
    .intro {
        h2 {
            padding: 2%;
        }

        p {
            padding: 0 2%;
        }
    }

    .space-images {
        .grid(repeat(3, 1fr), 1fr, 5%);
        width: 100%;
        padding: 5% 2%;
        img {
            width: 100%;
            border-radius: 20px;
            height: 100%;
        }
    }

    .visit-planets {
        padding: 2% 0 5%;

        h3 {
            margin-top: 2%;
        }

        p {
            margin-top: 2.5%;
        }
    }

    .walk {
        border-top: 1px solid @main-border-color;
        display: flex;
        justify-content: center;
        padding: 5%;

        .walk-text {
            width: 50%;
            button {
                width: 50%;
                padding: 4% 0;
                margin-left: 6%;
                .bChk(grey);
                border-radius: 6px;
                color: white;
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 3px;
                background-color: grey;
                .btnChnge(grey, white, scalex(3%));
            }
            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 26px;
            }
        }

        .walk-img {
            width: 46%;
            margin-left: 4%;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
    }
} // home
