// Mixins Here
@phone: ~"(max-width: 500px)";
@media @phone {
    .nothing();
}
.phoneChk() {
    body {
        @media @phone {
            background-color: lightgreen;
        }
    }
}

@tablet: ~"(max-width: 800px)";

.btnChnge(@color, @backColor, @transform) {
    transition: 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        color: @color;
        background: @backColor;
        transform: @transform;
        transition: 0.2s ease-in-out;
    }
}

.padding {
    padding: 2% 0;
}
.flex(@just, @align) {
    display: flex;
    justify-content: @just;
    align-content: @align;
}
.grid(@column, @row, @gap) {
    display: grid;
    grid-template-columns: @column;
    grid-template-rows: @row;
    gap: @gap;
}
.container() {
    width: 90%;
    margin: 0 5%;
}
.nothing {
    margin: 0;
    padding: 0;
}
.bChk(@color) {
    border: 1px solid @color;
}
